html, body {
    margin: 0px;
    padding: 0px;
    background-color: #DDD;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

.cover {
    background-image: url("../img/cover.jpg");
	background-color: #000;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 50%;
}

.wrapper {
    margin-top: 30px;
    margin-bottom: 100px;
}

.post {
    margin-bottom: 60px;
}

.post-tags-label {
    display: inline;
}

.login-row-fill {
    height: 30%;
}

.login-label {
    display: block;
}

.login-textbox {
    width: 100%;
}

a.stone-logo, a.stone-logo :hover {
    color: white;
}

ul.ul-block {
    list-style-type: square;
}

ul.ul-block li {
    display: block;
}

.fill-width {
    width: 100%;
}