html, body {
    margin: 0px;
    padding: 0px;
}

.cover {
    background-image: url("../img/cover.jpg");
	background-color: #000;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 50%;
}